<!-- <div class="container-fluid">
  <div class="row align-items-center single-back">
    
    <div class="col-md-12 text-white text-center d-flex align-items-center rgba-black-strong py-3 px-3">
      <br><br><br><br><br><br>
      <h1 class="text-center text-primary single-title">{{currentRoute | uppercase}}</h1>
    </div>
  </div>
</div> -->
<!-- Jumbotron -->
<div>
  <br><br><br><br><br>
</div>

<div class="card card-image" style="background-image: url('../../assets/images/construction.png');">
  
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <br><br><br>

      <!-- Content -->
      <h1 class="text-center text-primary single-title">{{currentRoute | uppercase}}</h1>
      <br><br><br>
    </div>
  </div>
  
</div>


<!-- Jumbotron -->
<br><br>
<router-outlet></router-outlet>