<br><br><br>
<div class="container">
  <div class="text-center">
    <a [routerLink]="['/safety','Schedules']">
      <button class="btn peach-gradient btn-lg" >{{all?.check}}</button>
    </a>
    
  </div>
  <br><br><br>
  
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 pb-2 mf-portfolio-page">
      <a routerLink="/safety/Online-Classes" class="mf-portfolio-image-container1">
        <div class="mf-portfolio-image-container-description">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div style="margin: 0 auto;">
              <h3 class="card-title pt-2"><strong >{{all?.online_title}}</strong></h3>
              <h5 >{{all?.online_desc}}</h5>
              <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
              <a routerLink="/safety/Online-Classes" ><i class="fas fa-clone left"></i>&nbsp;{{all?.more}}</a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mf-portfolio-page">
      <a routerLink="/safety/Virtual-Classes" class="mf-portfolio-image-container2">
        <div class="mf-portfolio-image-container-description">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div style="margin: 0 auto;">
              <h3 class="card-title pt-2"><strong >{{all?.virtual_title}}</strong></h3>
              <h5 >{{all?.virtual_desc}}</h5>
              <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
              <a routerLink="/safety/Virtual-Classes" ><i class="fas fa-clone left"></i>&nbsp;{{all?.more}}</a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mf-portfolio-page">
      <a routerLink="/site-training/all-on-site-training" class="mf-portfolio-image-container3">
        <div class="mf-portfolio-image-container-description">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div style="margin: 0 auto;">
              <h3 class="card-title pt-2"><strong >{{all?.onsite_title}}</strong></h3>
              <h5 >{{all?.onsite_desc}}</h5>
              <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
              <a routerLink="/site-training/all-on-site-training" ><i class="fas fa-clone left"></i>&nbsp;{{all?.more}}</a>
            </div>
          </div>
        </div>
      </a>
    </div>



  </div>

</div>
<br><br><br>
