<div class="container">
  <div class="row">
    <img class="mx-auto" src="../../../assets/logo.png" alt="logo" class="img-fluid">
  </div>
  <div class="row">
    <br><br>
    <p >{{about?.desc1}}</p>
    <p >{{about?.desc2}}</p>
    <p >{{about?.desc3}} <a href="http://www.compu21.com" >{{about?.link}}</a></p>
  </div>
  <div class="row img-container">
    <div class="col-12 col-md-4">
      <img src="assets/dob_logo.jpg" class="img-fluid" width="630">
    </div>
    <div class="col-12 col-md-4">
      <img src="assets/NYS.png" class="img-fluid" width="200">
    </div>
    
    <div class="col-12 col-md-4">
      <img src="assets/OSHA-logo.jpg" class="img-fluid" width="1500">
    </div>
  </div>
  <br><br><br>
</div>