input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.img-container > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-container img{
  margin: 0 auto;
}

.img-fluid{
  margin: 0 auto;
}