<app-header></app-header>
<!-- Jumbotron -->
<br><br><br>
<div class="card card-image" style="background-image: url(../../assets/images/slogan1.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h1 class="orange-text font-weight-bold" >Compu21</h1>
      <h3 class="card-title h2 my-4 py-2" >{{home?.slogan}}</h3>
      <p class="mb-4 pb-2 px-md-5 mx-md-5" >{{home?.slogan_content}}</p>
      <a class="btn peach-gradient" target="_blank"  href="https://www.compu21.com/">{{home?.more}}</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="team-section text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4">Reviews from Yelp</h3>

  	<!-- Grid row -->
    <div class="row">

      <!--Carousel Wrapper-->
      <div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item mb-5" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating light-blue darken-4" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating light-blue darken-4" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
        </div>
        <!--Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active light-blue darken-4"></li>
          <li data-target="#multi-item-example" data-slide-to="1" class="light-blue darken-4"></li>
          <li data-target="#multi-item-example" data-slide-to="2" class="light-blue darken-4"></li>
        </ol>
        <!--Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">

            <!--Grid column-->
            <div class="col-12 col-md-4">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/YIobqdNJLRHlIbXtWOkKtg/60s.jpg" class="rounded-circle img-fluid" width="160">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Charlotte H</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Piotr and his team did a *fantastic* job with a fairly extensive remodeling job in our Oakland home. They updated around ten rooms, including our kitchen, multiple bathrooms, and bedrooms. It would take forever to list everything they did...</p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/VVtnCA_kB4IrdgVlJ_o9Sw/60s.jpg" class="rounded-circle img-fluid" width="160">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Allison L</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Just had Piotr and his team do a full remodel of our kitchen and family room and it was a wonderful experience! Starting from the estimate process, Piotr was one of the only contractors that not only showed up when he said he would, but ...
                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/z4moMz48nh6WpMmQqDmzJQ/60s.jpg" class="rounded-circle img-fluid" width="160">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Abbey Clark</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Piotr and his team did a great job on our small kitchen project. It was actually a very difficult project to take on as it involved some plumbing, some granite cutting, etc. Most of the contractors I contacted quoted me for a much bigger project...
                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <!--Grid column-->
            <div class="col-12 col-md-4">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/tSqeVEz9BpLJl0p0VdmRZQ/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Rhonda S</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Piotr and his team completed an amazing remodel of my small "ghetto" bathroom. They solved problems that I previously had (mold, dry rot, corrosion, lack of space for toilet use, creepy area for showering) by creating good ventilation...
                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/7UDFGeEzq52629SnMMCwLQ/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">brian s</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Eamon did a complete studs-out renovation and addition to my house in the Richmond district.  It started as a neglected 2 bedroom 1 bath, and ended up as an amazing, all new, 4 bedroom 3.5 bath...
                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/DabwbaJFxdUUgOQIitiIOg/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Maziyar S</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>The requirement involves building automated workflows from point of when an applicant expresses interest in attending a workshop, to the point at when the applicant arrives at the workshop. A dynamic bookings calendar is required for...</p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Second slide-->

          <!--Third slide-->
          <div class="carousel-item">

            <!--Grid column-->
            <div class="col-12 col-md-4">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/WvmaJOWTI0ZflNmNmo1LCw/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Marc D</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>This review is way overdue. We remodeled our home a year ago (new kitchen, new flooring, new interior wall and closet, new master bath, paint, etc)... and could not be more happy with Eamon. What really sets him apart from any GC I've worked with ...

                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/Rmsay11Fg_CjNYhpQzJHXQ/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Tim F</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>We've used Mike Cacci for two significant interior remodel projects 10 years apart -- first a bedroom/bathroom, and then a bathroom/living room. Both times, we were completely satisfied. He wasn't the lowest bid, but a friend of ours who was one...

                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-4 clearfix d-none d-md-block">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img src="https://s3-media0.fl.yelpcdn.com/photo/L5BwIYFp-jDEotyGGySTzQ/60s.jpg" width="160" class="rounded-circle img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold mt-4">Elissa M</h4>
                <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>This is a review from someone who has actually hired and worked with Mike and Cacci Construction. We have hired Mike and his company two times over the last ~10 years or so and were very pleased on both occasions...
                </p>
                <!--Review-->
                <div class="grey-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Third slide-->

        </div>
        <!--Slides-->

      </div>
      <!--Carousel Wrapper-->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
<br><br><br>
<div class="container">
  <img class="row mx-auto" src="https://compu21safetytraining.com/wp-content/uploads/2019/04/dob_logo-300x145.jpg" alt="" >
  <p><strong >{{home?.sst_title}} </strong></p>
  <p><strong >{{home?.law}}</strong></p>
  <ul>
    <li >{{home?.content1}}</li>
  </ul>
  <p><strong >{{home?.title2}}</strong></p>
  <ul>
    <li >{{home?.content2}}</li>
  </ul>
  <p><strong >{{home?.title3}}</strong></p>
  <ul>
    <li >{{home?.subtitle1}}
      <ul>
        <li >{{home?.subcontent1}}</li>
        <li >{{home?.subcontent2}}</li>
        <li >{{home?.subcontent3}}</li>
      </ul>
    </li>
    <li >{{home?.subtitle2}}</li>
  </ul>
  <p >{{home?.title4}}</p>
  <ul>
    <li >{{home?.content4}}</li>
  </ul>
  <ul>
    <li >{{home?.content5}}
    </li>
  </ul>
  <ul>
    <li>30hr OSHA Construction</li>
    <li>8hr Fall Prevention Course – DOB Class</li>
    <li>2hr Drug &amp; Alcohol Awareness – DOB Class</li>
    <li>8hr Chapter 33 (SSM Renewal) – DOB Class</li>
    <li>4hr Supported Scaffold User &amp; Refresher – DOB Class</li>
    <li>2hr Site Safety Plan – DOB Class</li>
    <li>2hr Tool Box Talks – DOB Class</li>
    <li>2hr Pre-Task Safety Meetings – DOB Class</li>
    <li>2hr General Electives – DOB Class (Selected Topics)</li>
    <li>2hr Specialized Electives – DOB Class (Selected Topics)</li>
    <li><strong >{{home?.content6}}</strong></li>
  </ul>
  <p><strong >{{home?.title5}}</strong></p>
  <ul>
    <li >{{home?.content7}}</li>
  </ul>
  <p>&nbsp;</p>
</div>


<img class="row mx-auto" style="width: 100%;" src="https://compu21safetytraining.com/wp-content/uploads/2019/05/0001.jpg" alt="">